<div class="home {{darkMode}} wow animate__fadeIn">
    <div class="alt">
        <div uk-alert class="alt-b">
            <a class="uk-alert-close" uk-close></a>
            <p>{{alt[langInd].content}}</p>
        </div>
    </div>
    <div class="container about wow animate__fadeIn" >
        <div class="row">
            <div class="col-md-6">
                <img src="../img/home/—Pngtree—online education training course design_5331074.png" alt="">
            </div>
            <div class="col-md-6 about-c">
                <h2>{{about[langInd].head}}</h2>
                <p>{{about[langInd].content}}</p>
                <button class="uk-button uk-button-primary">{{about[langInd].join}}</button>
            </div>
        </div>
    </div>
    <div class="container p-4">
        <hr>
    </div>

<section class="container pt-3 mb-3 service wow animate__fadeIn" dir="{{dir}}">
    <h2 class="h3 block-title text-center">{{service[langInd].ser}}</h2>
    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-dollar-sign fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[0]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-book fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[1]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-people-carry fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[2]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-dollar-sign fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[0]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-book fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[1]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" href="#">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-people-carry fa-3x head-icon"></i></div>
                <div class="card-body text-center">
                    <h3 class="card-title pt-1">{{service[langInd].head[2]}}</h3>
                    <p class="card-text text-sm">{{service[langInd].content}}</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
    </div>
</section>


<section class="clint wow animate__fadeIn wow animate__fadeIn" dir="{{dir}}">
    <div class="jumbotron card card-image" style="background-image: url('../img/sunrise-1756274_1920.jpg');background-size: cover;">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold text-white"><strong>{{jump[langInd].head}}</strong></h2>
        <p class="mx-5 mb-5 text-white">{{jump[langInd].content}}</p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-fire left"></i> {{jump[langInd].button}}</a>
      </div>
    </div>
  </div>
</section>

<section class="container best-courses wow animate__fadeIn">
    <h2 class="text-center p-4">{{moc[langInd].head}}</h2>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li ng-repeat="most in mostPo">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{most.img}}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{most.name}}</h3>
                            <h4 class="uk-card-title">{{most.teacher}}</h4>
                            <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                            <div class="inrol text-center">
                                <button dir="{{dir}}" class="uk-button uk-button-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{moc[langInd].button}}</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
</section>

<div class="container p-4">
    <hr>
</div>


<section class="pepole container-fluid wow animate__fadeIn">
    <h2 class="text-center p-4">{{client[langInd].head}}</h2>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <ul class="uk-slider-items uk-child-width-1-4@s uk-grid text-center">
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../img/users/1.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{client[langInd].name[1]}}</h3>
                            <i class="fas fa-map-marker-alt"></i>
                            <i> {{client[langInd].cn[1]}}</i>
                            
                            <p>{{client[langInd].content}}</p>
                        </div>
                    </div>
                </li>
              <!-- 2 -->
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../img/users/5.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{client[langInd].name[0]}}</h3>
                            <i class="fas fa-map-marker-alt"></i><i> {{client[langInd].cn[0]}}</i>
                            <p>{{client[langInd].content}}</p>
                        </div>
                    </div>
                </li>
                <!-- 3 -->
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../img/users/3.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{client[langInd].name[3]}}</h3>
                            <i class="fas fa-map-marker-alt"></i><i> {{client[langInd].cn[3]}}</i>
                            <p>{{client[langInd].content}}</p>
                        </div>
                    </div>
                </li>
                <!-- 4 -->
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../img/users/2.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{client[langInd].name[2]}}</h3>
                            <i class="fas fa-map-marker-alt"></i><i> {{client[langInd].cn[2]}}</i>
                            <p>{{client[langInd].content}}</p>
                        </div>
                    </div>
                </li>
                <!-- 5 -->
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="../img/users/2.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{client[langInd].name[0]}}</h3>
                            <i class="fas fa-map-marker-alt"></i><i> {{client[langInd].cn[2]}}</i>
                            <p>{{client[langInd].content}}</p>
                        </div>
                    </div>
                </li>
            </ul>
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
</section>
</div>

